* {
  box-sizing: border-box;
  border: red solid 2px;
}

body {
  background-color: lightsteelblue;
}

header{
  text-align: center;
  padding-bottom: 60px;
  background-color: lightgreen;
}
p {
  font-size: 20px;
}

input {
  padding: 6px;
  margin: 5px;
  border-radius: 10%;
  /* text-align: center; */
}
#go {
  border-radius: 20%;
}

.bothDivs{
  display: flex;

}

.search-container {
  text-align: left;
  width: 25%;
  min-height: 500px;
}

.strain-list {
  text-align: top left;
  flex: 1;
}
